= link_to 'Close billing cycle and open new', close_billing_cycle_and_open_new_path, class: 'btn btn-primary', data: { turbo_method: "patch" }

h4.mt-5
  | Top Managers Income: #{@top_managers_income}